---
import json from '../data/data.json';
import { Image } from '@astrojs/image/components';
let data = json.Hero;
---

<section
	class="w-full h-screen flex justify-center items-center overflow-hidden relative"
>
	<Image
		src={import(data.image)}
		alt={data.alt}
		class="opacity-60 object-cover fill-current w-full h-full absolute"
	/>

	<div class="flex flex-col justify-center items-center px-3">
		<h1 class="text-center text-3xl md:text-5xl font-bold drop-shadow-lg">
			{data.text}
		</h1>
	</div>
</section>

